useDynLib(mixggm, .registration = TRUE)
# exportPattern("^[[:alpha:]]+")
## this line is automatically created when using package.skeleton but should be removed
## to prevent the _loop functions from exporting. Instead use the export() function (as is done here
importFrom("Rcpp", "evalCpp")

importFrom("grDevices", "adjustcolor")
importFrom("graphics", "abline", "image", "par", "plot")
importFrom("stats", "cov", "cov2cor", "median", "toeplitz", "var")
importFrom("utils", "menu", "combn", "setTxtProgressBar", "txtProgressBar")
importFrom("utils", "packageVersion")
importFrom("network", "network", "plot.network", "network.layout.circle")
importFrom("mclust", "hcVVV")
importFrom("cli", "rule")
importFrom("crayon", "bold")

export(mixGGM, print.mixGGM, summary.mixGGM,
       print.summary.mixGGM, plot.mixGGM)
S3method("print", "mixGGM")
S3method("summary", "mixGGM")
S3method("print", "summary.mixGGM")
S3method("plot", "mixGGM")

export(fitGGM, print.fitGGM, plot.fitGGM)
S3method("print", "fitGGM")
S3method("plot", "fitGGM")

export(searchGGM, controlSTEP, controlGA, controlEM, controlICF, controlREG)
